# python/django related ignores
db.sqlite3
*.pyc
*.idea
*.pyc
*.log
*.swp
*.DS_Store
*.csv
piper/secrets.py

# go-service related ignores
*/gmail-subscriber/go-services
*/gmail-subscriber/gmail-subscriber
*/go-tally/go-tally
*/alexa-bot/alexa-bot
client_secrets.json
oauth_tokens.json
labels.json
db.json
config.json

# sphinx
test.txt
