# python/django related ignores
db.sqlite3
*.pyc
*.idea
*.pyc
*.log
*.DS_Store
piper/secrets.py

# go-service related ignores
go-services/go-services
client_secrets.json
oauth_tokens.json
labels.json
