<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'arkaios/css/bootstrap.min.css' %}" />
        <title>Poller</title>
        <script src="{% static 'arkaios/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'arkaios/js/bootstrap.min.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                console.log('yeah');
            });
        </script>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Poller</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">All Polls<span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Leaderboard<span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Profile<span class="sr-only">(current)</span></a></li>
                            </ul>
                            {% if user %}
                                <p class="navbar-text navbar-right"><a href="/polls/logout/" class="navbar-link">Logout</a></p>
                                <p class="navbar-text navbar-right">Signed in as {{ user.username }}</p>
                            {% endif %}
                        </div>
                    </div>
                </nav>

                <div class="row">
                    <div class="col-lg-12">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                        <h3>Open Polls</h3>
                        <ul class="list-group">
                        {% for poll in polls %}
                            <a href="/polls/event/{{ poll.id }}/" class="list-group-item">
                                {{ poll.question }}
                                <span class="badge">{{ poll.votes.all|length }} votes</span>

                            </a>
                        {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>