/* Large Group Tracking */
.large-group-tracking {
  background-color: rgb(67,71,114);
}

input[type=text], .form-control, #submitAttendance {
	font-size: 20px;
	height: 50px;
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 50px;
	margin-top: 100px;
	color: white;
}

#trackingFooter {
	position:fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0px;
	font-size: 17px;
	text-align: center;
}

/* Confirmation Image */
#confirmation img{
	margin-left: 75px;
	margin-top: 100px;
}

.suggested {
	cursor: pointer;
}

.up-arrow { 
	width: 0;
	height: 0;
	position: absolute;
	margin-top: -25px;
	left: 40px;
	border-style: solid;
	border-width: 0 15px 10px 15px;
	border-color: transparent transparent #d1e8f6 transparent;
}

#help {
	display: none;
}

#checkBoxLabel {
    color: white;
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
}

input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:35px;
							height:30px;
							display:inline-block;
							line-height:30px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:30px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -30px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
